<nav class="navbar ">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="/assets/img/reuters-logo.png" alt="Reuters Logo">
        </div>
        <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="home navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/saved">
                Saved Articles
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary" href="/scrape">
                            <span class="icon">
                                <i class="fa fa-download"></i>
                            </span>
                            <span>Get New Articles</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <div class="box dropdown is-pulled-right">
                <ul>
                    <li><a id="home" class="navbar-item" href="/">Home</a></li>
                    <li><a class="navbar-item" href="/saved">Saved Articles</a></li>
                    <li><a class="button is-primary navbar-item" href="/scrape">Get New Articles</a></li>
                </ul>
            </div>
            <h1 id="hero-title" class="title">
                News Scraper
            </h1>
            <h2 class="subtitle">
                Reuters News
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Article Results</h1>
        <div class="card" id="scrape-results">
            <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.title}}</a>
            </h3>
        </div>
    </div>
    {{!-- <div class="container-fluid article-container">
    {{#each articles}}
    <div data-_id="{{this._id}}" class="card">
        <div class="card-header">
            <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer"
                    href="{{this.url}}">{{this.headline}}</a>
                <a class="btn btn-success save">Save Article</a>
            </h3>
        </div>
        <div class="card-body">{{this.summary}}</div>
    </div>
    {{/each}} {{#unless articles.length}}
    <div class='alert alert-warning text-center'>
        <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div> --}}


</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Reuters News Scraper</strong> by <a href="https://github.com/emartey">Edward Martey</a>
            </p>
        </div>
    </div>
</footer>


<script src="/assets/js/index.js"></script>